<div class="vid-skinny">
<h1>New Hairdressers</h1>
</div>
<div class="form-style-8">
<%= form_for @hairdresser do |f| %>
<fieldset>
  <%= f.label :name %>
  <%= f.text_field :name %>
</fieldset>
<fieldset>
  <%= f.label :discipline %>
  <%= f.text_field :discipline %>
</fieldset>
<fieldset>
  <%= f.label :blurb %>
  <%= f.text_field :blurb %>
</fieldset>
<fieldset>
  <%= f.label :image %>
  <%= f.url_field :image %>
</fieldset>

<fieldset>
  <%= f.submit %>
</fieldset>
<% end %>
</div>
