<div class="vid-wide">
<h1><%= @hairdresser.name %></h1>

<%= image_tag(@hairdresser.image, :class => 'feature') %>
<p>
  <h4><%= @hairdresser.blurb %></h4>
</p>

<% @hairdresser.videos.each do |video| %>
<% if video.hairdresser_id == @hairdresser[:id] %>
<video width="250" height="175" src="<%= video.embed_url %>" frameborder="0" allowfullscreen controls></video>

<% end %>
<% end %>


<% if @current_user.admin? %>
<p>
<li class='admin'><a><%= link_to 'Edit', edit_hairdresser_path(@hairdresser) %></a></li>
<li class='admin'><a><%= link_to 'Delete', @hairdresser, :method => :delete %></a></li>
</p>
<% end %>
</div>
