<!DOCTYPE html>
<html>
<head>
  <title>HeadcaseApp</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= cloudinary_js_config %>
</head>
<body class="<%= params[:controller] %>">
<nav>
  <%= link_to 'Home', root_path %>
  <%= link_to 'My Account', '/users/account' %>
  <%= link_to 'Hairdressers', hairdressers_path %>
  <%= link_to 'Videos', videos_path %>

  <% if @current_user.present? %>
    <% if @current_user.admin? %>
    <%= link_to 'New Videos', new_video_path %>
    <%= link_to 'New Hairdressers', new_hairdresser_path %>
      <%= link_to "All users", users_path %>
    <% end %>
    <%= link_to "Edit profile", users_edit_path %>
    <%= link_to "Logout #{ @current_user.first_name }", login_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", signup_path %>
    <%= link_to "Login", login_path %>
  <% end %>
</nav>

<% if flash[:error].present? %>
  <h2 class="error">
    <%= flash[:error] %>
  </h2>
<% end %>

<div class="container">
<%= yield %>
</div>

</body>
</html>
